<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ep-weathered-cell-a25dok8f-pooler.eu-central-1.aws.neon.tech/hotel?sslmode=require</property>
        <property name="hibernate.connection.username">neondb_owner</property>
        <property name="hibernate.connection.password">npg_Neau2nEbKF0v</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically create tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated Entity Classes -->
        <mapping class="app.model.Hotel"/>
        <mapping class="app.model.Room"/>
    </session-factory>
</hibernate-configuration>
